@media screen and (max-width: 800px) {
    .section_4 {
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        padding-top: 20px;
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .section_4_text {
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .section_4_text_1 {
        width: auto;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }
    .section_4_text_2 {
        text-align: center;
    }
    .section_4_button_rectangle {
        transition-duration: .25s;
        margin: 20px 0;
        width: 70%;
    }
}